:root {
  --sda-green: #21d46e;
  --sda-white: #ffffff;
  --sda-black: #000000;
  --sda-red: #e81525;

  font-family: Epilogue, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;

  color: var(--sda-white);
  background-color: var(--sda-green);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100dvh;
  width: 100%;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.centered {
  max-width: calc(100% - 2.5rem );
  width: 82.5rem;
  margin: 0 1.25rem 0 1.25rem;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
  line-height: normal;
  margin: 6.25rem 0 0 0;
}

h4 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: normal;
}

h6 {
  font-size: 1rem;
  font-weight: 700;
  line-height: normal;
}

a {
  text-decoration: none;
  color: var(--sda-white);
}

.one-line {
  display: inline-block;
  line-height: 1;
  height: 0.75em;
  margin: 0;
  align-self: center;
}

a.one-line {
  transition: color 0.21s, background 0.21s;
}

a.one-line:hover:not(.primary) {
  color: var(--sda-red) !important;
}

.primary {
  display: flex;
  justify-content: center;
  padding: 10px 18px 10px 18px;
  border: 2px solid #000000;
  border-radius: 10rem;
  transition: color 0.21s, background 0.21s;
}

.primary:hover {
  background: var(--sda-red);
  color: var(--sda-white) !important;
}