# Database Configuration
DATABASE_URL=

# MinIO Configuration (Object Storage)
MINIO_ENDPOINT=
MINIO_PORT=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_USE_SSL=

# Better Auth Configuration
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Github OAuth
GITHUB_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Node Environment
NODE_ENV=development