rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read, write: if false;
    }
    match /events/thumbnails/{allPaths=**} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && (
        firestore.get(/databases/$(request.auth.token.aud)/documents/users/$(request.auth.uid)).data.role in ['admin', 'developer', 'organizer', 'junior']
      );
    }
    match /events/{allPaths=**} {
      allow read, write: if request.auth != null;
    }
  }
}
