@import "tailwindcss";

@theme {
  --spacing-content: 1320px;

  --radius-2.5xl: 1.25rem;

  --color-green: #21d46e;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-gray: #888888;
  --color-blue: #00e0ff;
  --color-dark-blue: #1480c2;
  --color-red: #ff0000;
  --color-yellow: #ffd900;
  --color-transparent: transparent;

  --shadow-dialog: 0px 0px 8px rgba(0, 0, 0, 0.5);

  --animate-slide-up: slide-up 0.3s ease-in-out;
  --animate-slide-down: slide-down 0.3s ease-in-out;
  --animate-slide-left: slide-left 0.3s ease-in-out;
  --animate-slide-right: slide-right 0.3s ease-in-out;
  --animate-slide-in: slide-in 0.15s cubic-bezier(0.16, 1, 0.3, 1);
  --animate-swipe-out: swipe-out 0.15s cubic-bezier(0.16, 1, 0.3, 1);
  --animate-fade-out: fade-out 0.15s cubic-bezier(0.16, 1, 0.3, 1);
  --animate-hide: hide 0.3s cubic-bezier(0.16, 1, 0.3, 1);
  --animate-overlay-show: overlay-show 0.15s cubic-bezier(0.16, 1, 0.3, 1);
  --animate-content-show: content-show 0.15s cubic-bezier(0.16, 1, 0.3, 1);

  @keyframes slide-up {
    from {
      opacity: 0;
      transform: translateY(0.5rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slide-down {
    from {
      opacity: 0;
      transform: translateY(-0.5rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slide-left {
    from {
      opacity: 0;
      transform: translateX(0.5rem);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes slide-right {
    from {
      opacity: 0;
      transform: translateX(-0.5rem);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes slide-in {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }

  @keyframes swipe-out {
    from {
      transform: translateX(var(--reka-toast-swipe-end-x));
    }
    to {
      transform: translateX(100%);
    }
  }

  @keyframes hide {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  @keyframes fade-out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  @keyframes overlay-show {
    from {
      opacity: 0;
      backdrop-filter: blur(0);
    }
    to {
      opacity: 1;
      backdrop-filter: blur(4px);
    }
  }

  @keyframes content-show {
    from {
      opacity: 0;
      transform: translateY(-1rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: "Epilogue", sans-serif;

  --delay: 0s;

  font-size: 12px;

  @apply bg-green text-white font-normal;
}

body {
  @apply overflow-y-scroll! p-0!;
}

h1 {
  @apply font-bold text-5xl mb-2 text-left;
}

h2 {
  @apply font-bold text-4xl mb-2 text-left;
}

h3 {
  @apply font-bold text-3xl mb-2 text-left;
}

h4 {
  @apply font-bold text-2xl mb-2 text-left;
}

h5 {
  @apply font-bold text-xl mb-2 text-left;
}

h6 {
  @apply font-bold text-base mb-2 text-left;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.icon {
  @apply shrink-0;
}

@media (min-width: 1024px) {
  :root {
    font-size: 16px;
  }
}
