@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: "DM Sans", sans-serif;
  --font-mono: "SF Mono", monospace;

  --color-sda-50: oklch(0.969 0.049 152.41);
  --color-sda-100: oklch(0.936 0.101 152.31);
  --color-sda-200: oklch(0.871 0.224 151.39);
  --color-sda-300: oklch(0.813 0.209 151.39);
  --color-sda-400: oklch(0.764 0.197 151.37);
  --color-sda-500: oklch(0.662 0.17 151.46);
  --color-sda-600: oklch(0.554 0.142 151.44);
  --color-sda-700: oklch(0.451 0.116 151.32);
  --color-sda-800: oklch(0.343 0.088 151.56);
  --color-sda-900: oklch(0.243 0.062 151.53);
  --color-sda-950: oklch(0.184 0.047 150.85);
}

/* Hide scrollbar for Chrome, Safari, and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;    /* Firefox */
}
