:root {
  --sda-green: #21d46e;
  --color-secondary: #ffffff;

  font-family: Epilogue, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;

  color: var(--color-secondary);
  background-color: var(--sda-green);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}